$background:#222;
$wordSelection:#F16D7F;
$textfont: Lato;
/* карточки для страницы продукта*/
.card_product{
   
    width: 360px;
    height: 581px;
    flex-shrink: 0;
    .product_image_cont{
        position: relative;
    }
    .product_image_cont:before {
        content:"";
        position:absolute;
        width:100%;
        height:100%;
        top:0;left:0;right:0;
        background-color:rgba(0,0,0,0);
      }
      .product_image_cont:hover::before {
        background: rgba(58, 56, 56, 0.86);
      }
      .product_image_cont img {
        display:block;
      }
      .product_image_cont .btn {
        width: 138px;
        height: 43px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        opacity:0;
        background: none;
        border: 1px solid #FFFFFF;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
      } 
      .product_image_cont:hover button {   
        opacity: 1;
      }
}
.all_product_cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 48px;
}
.product {
    margin-top: 128px;
    margin-bottom: 128px;
}
.footer_subscribe_product{
    height: 448px;
    background-image: url(./img/footer\ font.png);
    background-repeat: no-repeat;
    background-position: center;
}



.discription_product{
//    position: absolute;
    background: #FFF;
    border: solid #F7F7F7;;
    margin-left: 230px;
    margin-right: 229px;
    margin-top: -63px;
    margin-bottom: 1364;
    width: 1141px;
    height: 601px;
    flex-shrink: 0;

    .discription_prod{
        margin-top: 12px;
        margin-left: 292px;
        margin-right: 294px;
        width: 555px;
        height: 51.431px;
        flex-shrink: 0;
        .discription_prod_p{
            color: #5E5E5E;
            text-align: center;
            font-family: $textfont;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;            
        }
    }

    .description_button{
        //background-image: url"/img/aadButton.png";
        display: flex;
        padding: 10px;
        border: solid palevioletred;
        background: #FFF;
        color: $wordSelection;
        margin-left: 464px;
        margin-top: 48.41px;
        width: 212px;
        height: 48.406px;
        flex-shrink: 0;
        .description_button_text{
            margin-top: 15.13;
            margin-left: 22.99px;
            margin-right: 57px;
            width: 82px;
            height: 19.161px;
            flex-shrink: 0;
            color: $wordSelection;
            font-family: $textfont;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    
    .select_product{
        display: flex;
        flex-direction: row;
        white-space: nowrap;
        margin-left: 372px;
        margin-top: 65px;
        .select_text{
            white-space: nowrap;
            margin-left: 22.98px;
            color: #6F6E6E;
            font-family: $textfont;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        .select_a{
            margin-top: 6.11px;
            margin-left: 6px;
            width: 10.02px;
            height: 5.046px;
            flex-shrink: 0;
        }
    }

    .stroke_product{
        width: 641px;
        height: 0px;
        flex-shrink: 0;
        margin-top: 65.04px;
        margin-left: 250.5px;
        margin-right: 249.5px;
    }

    .price_prod{
        width: 56px;
        height: 29.245px;
        flex-shrink: 0;
        margin-left: 531.16px;
        margin-right: 553.84px;
        margin-top: 32.27px;
        .price_prod_p{
            color: $wordSelection;
            font-family: Lato;
            font-size: 24px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }
    }

    .name_prod{
        
        margin-top: 12px;
        margin-left: 442.34px;
        margin-right: 445.86px;
        width: 253px;
        height: 22.186px;
        flex-shrink: 0;
        .name_prod_p{
            white-space: nowrap; 
            color: #4D4D4D;
            font-family: $textfont;
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }
    }
    .devide{
        margin-right: 538px;
        margin-left: 540px;
        margin-top: 12.1px;
        width: 63px;
        height: 3.025px;
        flex-shrink: 0;
    }
    .discription_p{
        white-space: nowrap; 
        margin-left: 497.03px;
        margin-right: 497.97px;
        margin-top: 64px;
        margin-bottom: 519px;
        color: $wordSelection;
        font-family: $textfont;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
    .head_discription_product{
        width: 146px;
        height: 17.144px;
        flex-shrink: 0;
    }
    
}

.box_product{
    z-index: -1;
    position: relative;
    background: #F7F7F7;
    display: flex;
    flex-direction: column;
    width: 1600px;
    height: 777px;
    flex-shrink: 0;
    .leftDash{
        position: absolute;
        width: 31px;
        height: 31px;
        flex-shrink: 0;
        margin-right: 8px;
        margin-top: 373px;
        margin-bottom: 373px;
        margin-left: 1561px;
    
    }
    .rightDash{
        position: absolute;
        width: 31px;
        height: 31px;
        flex-shrink: 0;
        margin-left: 8px;
        margin-top: 373px;
        margin-bottom: 373px;
        margin-right: 1561px;
    }
    .box_img_product{
        
        width: 597px;
        height: 724px;
        flex-shrink: 0;
        margin-left: 514px;
        margin-right: 489px;
        margin-bottom: 42px;    
        margin-top: 11px;
    }
}

.head_title_prod{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1600px;
    height: 148px;
    flex-shrink: 0;
    background: #F8F3F4;
    .span_prod{
        margin-left: 737px;
        color: #636363;
        font-family: $textfont;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-top: 59px;
        margin-bottom: 60px;;
    }
    .span_prod2{
      color: $wordSelection;
      font-family: $textfont;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-top: 59px;
      margin-bottom: 60px;
    }
    .p_prod{
    color: $wordSelection;
    font-family: $textfont;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 59px;
    margin-bottom: 60px;
    margin-left: 230px;
    }
}